@media screen and (max-width:1200px)

{



}

@media screen and (max-width:1100px)
{


}





@media screen and (max-width:992px)

{


 
}


@media screen and (max-width:850px)

{

}




@media screen and (max-width:767px)

{
	
  
  



}


@media screen and (max-width:600px)

{


}



@media screen and (max-width:576px)

{
  main .social a img {
   
    width: 25px;
}

.gallery_box_panel
{
  justify-content: center;
}

.gallery_box_panel .gallery_box {

  width: calc(100% / 3);
  height: auto;
  display: inline-block;
  float: none;

  img
  {
    height: auto;
  }
}


}


@media screen and (max-width:480px)

{



}


@media screen and (max-width:350px)

{
	
	

}