

@font-face {
  font-family: 'DIN-Light';
  src: url('../fonts/DIN-Light.eot');
  src: url('../fonts/DIN-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/DIN-Light.woff2') format('woff2'),
      url('../fonts/DIN-Light.woff') format('woff'),
      url('../fonts/DIN-Light.ttf') format('truetype'),
      url('../fonts/DIN-Light.svg#DIN-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN-LightAlternate';
  src: url('../fonts/DIN-LightAlternate.eot');
  src: url('../fonts/DIN-LightAlternate.eot?#iefix') format('embedded-opentype'),
      url('../fonts/DIN-LightAlternate.woff2') format('woff2'),
      url('../fonts/DIN-LightAlternate.woff') format('woff'),
      url('../fonts/DIN-LightAlternate.ttf') format('truetype'),
      url('../fonts/DIN-LightAlternate.svg#DIN-LightAlternate') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}




$WHITE_COLOR:#FFF;
$YELLOWHOVER_COLOR:#FFD000;





@mixin widebox{
  display: inline-block;
  vertical-align: top;

}


body {
  background-color:black;
  color:$WHITE_COLOR ;
  font-family: 'DIN-Light';
  overflow-x:hidden !important;
  font-size: 14px;
}



section{ 
  display: inline-block;
  vertical-align: top;
  width:100%; position: relative;
}

button{cursor: pointer;}


input[type=submit]{transition: 0.5s; cursor: pointer; border:none;}


a, button {
  
    transition: 0.5s;
    color:inherit;
    
    &:hover, &:active {
      outline: none;
      text-decoration: none;
  }
}



ul, p {
  	padding: 0;
	margin:0;
	font-size:15px;
}

h1, h2, h3, h4, h5, h6 {
  	font-weight: 400;
  	padding: 0;
	margin:0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.logo_and_contact_secion
{
  
  transition: 0.5s;
  width:100%;
  position: relative;
  z-index: 99999;
  width:100%;
}
.nav_section
{
	display:inline-block;
	vertical-align:middle;
	width:100%;
	padding:10px 0;
	
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:999;
  background:#FFF;
  left:0;
}


.nav_main_area
{
	display:inline-block;
	vertical-align:middle;
	width:calc(100% - 270px);
	text-align:left;
	padding-left:80px;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  padding: 0;
  list-style: none;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  margin:0;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
  text-align:left;
}

.nav-menu li {
  position: relative;
  display: inline-block;
  vertical-align: top;
 

}



.nav-menu > li {
  float: left;
}
.nav-menu .home_icon
{
	font-size:18px;
	margin-right:5px;
}
.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
	font-size: 13px;
	top: 50%;
	transform: translateY(-50%);
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}
/* Nav Meu Container */



@media (max-width: 2600px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
	padding: 10px 10px;
	text-decoration: none;
	display: block;
	color: $WHITE_COLOR;
	font-size: 14px;
	outline: none;
	position:relative;
	text-transform:uppercase;
  width:100%;
  text-align: center;
	
}

.nav-menu li:hover > a, .nav-menu > .menu-active > a {

 
  color:$YELLOWHOVER_COLOR;
	
}




.nav-menu ul {
  margin: 0px 0 0 0;
  padding: 0px;
  background: $WHITE_COLOR;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.26);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.26);
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: $WHITE_COLOR;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
  text-align: left;
}

.nav-menu ul li:hover > a {
  color: $WHITE_COLOR;

}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: absolute;
  right: 0;
  top: 36px;
  transform:translateY(-50%);
  z-index: 999;
  margin: 0 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}
.fa-times
{
  color: #fff;	
}
.fa-bars
{
  color: #FFF !important;		
}

@media (max-width:2600px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  left: -100%;
  width: 100%;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color:$WHITE_COLOR;
  font-size: 15px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  outline: none;
   cursor:pointer; 
   text-align: center;

   &::after
   {
     position: absolute;
     left:50%;
     bottom: 0px;
     transform: translate(-50%,-50%);
     width:0px;
     height: 2px;
     background-color: $WHITE_COLOR;
     content: '';
     transition: 0.5s;
   }
}

#mobile-nav ul li a:hover, #mobile-nav ul .menu-active a {
  color:$WHITE_COLOR;
  
}

#mobile-nav ul li a:hover::after, #mobile-nav ul .menu-active a:after
{
  width:100px;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color:$YELLOWHOVER_COLOR;
}

#mobile-nav ul .menu-has-children li a {
  text-transform: none;
}

#mobile-nav ul .menu-item-active {
  color:$WHITE_COLOR;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}


.module
{
  width: 100%;
  height: 100%;
  background-image: url(../images/index-bg.gif);
  background-size: cover;
}

.servicebg
{
  width: 100%;
  height: 100%;
  background-image: url(../images/service-bg.jpg);
  background-size: cover;
}

.contactbg
{
  width: 100%;
  height: 100%;
  background-image: url(../images/contact-bg.jpg);
  background-size: cover;
}

.portfoliobg
{
  width: 100%;
  height: 100%;
  background-image: url(../images/portfolio-bg.jpg);
  background-size: cover;
}


@keyframes zoominoutsinglefeatured {
  0% {
      transform: scale(1,1);
  }
  50% {
      transform: scale(1.05,1.05);
  }
  100% {
      transform: scale(1,1);
  }
}


main
{
  width:100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 568px;
  overflow-y: auto;






  .logobx
  {
    position: absolute;
    top:55%;
    left:0;
    transform: translateY(-50%);
    transition: 0.5s;
    text-align: center;
    width:100%;

    img
    {
      width: 50%;
      max-width: 320px;
      animation: zoominoutsinglefeatured 4s infinite ;

    }
  }

  .social
  {
    position: absolute;
    bottom: 65px;
    left:50%;
    transform: translateX(-50%);
    color:$WHITE_COLOR;

    a
    {
      @include widebox;
      margin: 5px;
      transition: 0.5s;

      &:hover
      {
        transform: scale(1.15);
       
      }

      img
      {
        @include widebox;
        width:30px;
      }
    }

  }


  .service_box_tcrner
  {
    width:30px;
    position: absolute;
    top:20px;
    left:20px;
  }

  .service_box_bcrner
  {
    width:30px;
    position: absolute;
    bottom:20px;
    right:20px;
  }

  .service_box
  {
    position: absolute;
    left:50%;
    bottom: 50px;
    z-index: 3;
    color:$WHITE_COLOR;
    text-transform: uppercase;
    transform: translateX(-50%);
    max-width:250px;
    width:100%;

    article
    {
      text-align: left;
      display: inline-block;
      width:100%;
      position: relative;
      margin: 15px 0;
      padding-left: 50px;
      font-size: 19px;
      animation: zoominoutsinglefeatured 4s infinite ;

      img
      {
        position: absolute;
        left:0;
        top:-3px;
        width:40px;
      }

      span
      {
        display: inline-block;
      }
    }
    
  }



  .contact_box
  {
    position: absolute;
    left:50%;
    bottom: 100px;
    z-index: 3;
    color:$WHITE_COLOR;
    text-transform: uppercase;
    transform: translateX(-50%);
    max-width:220px;
    width:100%;

    article
    {
      text-align: center;
      display: inline-block;
      width:100%;
      position: relative;
      margin: 15px 0;
      font-size: 19px;
      animation: zoominoutsinglefeatured 4s infinite ;

      p
      {
       width:100%;
       display: inline-block;
       vertical-align: top;
       margin: 15px 0; 

       span
       {
         display: inline-block;
         width:100%;
         font-size: 22px;
       }
      }

    }
    
  }


}

.gallery_heading
{
  font-size: 19px;
  color:#FFF;
  width:100%;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
}

.gallery_box_panel
{
  width:100%;
  max-width:480px;
  display:flex;
  flex-wrap: wrap;
  padding: 0 15px;

 

  .gallery_box
  {
    float: left;
    width:calc(100% / 3);
    margin: 0;

    img
    {
      float: left;
      width:100%;
      height: 90px;
      object-fit:cover;
      transition: 0.5s;
      filter: grayscale(100%);
      position: relative;

      &:hover
      {
        filter: grayscale(0%);
        padding: 5px;
        z-index: 2;
        border: 1px solid #FFF;
      }
    }
  }
}

